.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  justify-content: flex-start;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.hero-p {
  color: black;
  font-family: Times, "Times New Roman", Georgia, serif;
}

.hero-h1 {
  margin-top: 5rem;
  color: black;
  font-size: 35pt;
  margin-bottom: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.section-one h1 {
  color: black;
  font-size: 35pt;
  text-align: center;
  padding-bottom: 4rem;
}

.section-one {
  height: fit-content;
  width: 100%;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2rem;
  align-items: center;
  justify-items: center;
}

/*Footer*/

.footer-container {
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2a28;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

#naslov {
  color: white;
}

.lista {
  list-style: none;
  align-items: center;
}

.footer-subscription > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fefefe;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}
